﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.selectize-input {
    max-width: 280px;
}

.form-fieldset {
    margin-top: 15px;
}

    .form-fieldset legend {
        border-bottom: 1px solid #c9c9c9;
        font-size: 18px;
        font-weight: bold;
    }

.margin-top {
    margin-top: 25px;
}

.custom-dl dt {
    text-align: left;
    white-space: normal;
    width: 250px;
    margin-bottom: 15px;
}

.custom-dl dd {
    margin-bottom: 15px;
    margin-left: 260px;
}

.form-horizontal .control-label {
    text-align: left;
    padding-right: 5px;
}

.required-field-label:after {
    content: " *";
    color: red;
}


.dataTables_wrapper {
    font-size: 13px !important;
}