﻿@model List<DigitaleAssistenter.ViewModels.AttachmentViewModel>

<div class="form-group">
    <div class="col-md-3">
        <label class="control-label">Bilag</label>
        <span class="help-block">F.eks. procestegninger, skærmbilleder eller anden dokumentation af processen. Hold CTRL nede for at markere flere filer.</span>
    </div>
    <div class="col-md-9">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var attachment in Model)
            {
                <a href="@Url.Action("DownloadAttachment", "Attachment", new {attachmentId = attachment.AttachmentId })">@attachment.FileName</a> <text>|</text> <a href="#" data-attachment-id="@attachment.AttachmentId" class="delete-attachment">Slet</a>
                <br />
            }
        }
        else
        {
            <input type="file" id="UploadedFile" name="UploadedFile" multiple />
        }
    </div>
</div>
