﻿@model DigitaleAssistenter.ViewModels.ProcessViewModel

@{
    ViewBag.Title = "Slet proces";
}

<h2>@ViewBag.Title</h2>
<h3>Er du sikker på du vil slette @Model.Name?</h3>
<p><strong>Bemærk: Handlingen kan ikke fotrydes!</strong></p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row margin-top">
        <div class="col-xs-6">
            @Html.ActionLink("Gå tilbage til overblik over processer", "Index")
        </div>
        <div class="col-xs-6">
            <div class="pull-right">
                <button type="submit" class="btn btn-default">Slet proces</button>
            </div>
        </div>
    </div>
}

