﻿@using System.Configuration
@using DigitaleAssistenter.Classes
@model DigitaleAssistenter.ViewModels.ProcessDisplayViewModel

@{
    ViewBag.Title = "Detaljer om processen";
}

<h2>@ViewBag.Title</h2>

<fieldset class="form-fieldset">
    <legend>Beskrivelse af proces</legend>
    <dl class="dl-horizontal custom-dl">
        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Organizations)</dt>
        <dd>@Html.DisplayFor(model => model.Organizations)</dd>

        <dt>@Html.DisplayNameFor(model => model.Contact)</dt>
        <dd>@Html.DisplayFor(model => model.Contact)</dd>

        <dt>@Html.DisplayNameFor(model => model.KLE)</dt>
        <dd>@Html.DisplayFor(model => model.KLE)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.ConfidentialProcess)</dt>
        <dd>@( Model.ConfidentialProcess ? "Ja" : "Nej" )</dd>

        <dt>@Html.DisplayNameFor(model => model.Resume)</dt>
        <dd>@Html.DisplayFor(model => model.Resume)</dd>

        <dt>@Html.DisplayNameFor(model => model.Paragraph)</dt>
        <dd>@Html.DisplayFor(model => model.Paragraph)</dd>

        <dt>@Html.DisplayNameFor(model => model.Reporter)</dt>
        <dd>@Html.DisplayFor(model => model.Reporter)</dd>

        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>

        <dt>@Html.DisplayNameFor(model => model.SolutionDescription)</dt>
        <dd>@Html.DisplayFor(model => model.SolutionDescription)</dd>

        <dt>@Html.DisplayNameFor(model => model.CurrentSystems)</dt>
        <dd>@Html.DisplayFor(model => model.CurrentSystems)</dd>
    </dl>

</fieldset>

<fieldset class="form-fieldset">
    <legend>Fakta om nuværende proces</legend>
    <dl class="dl-horizontal custom-dl">
        <dt>@Html.DisplayNameFor(model => model.AmountOfProcessExecutionsYearly)</dt>
        <dd>@Html.DisplayFor(model => model.AmountOfProcessExecutionsYearly)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProcessExecutionTime)</dt>
        <dd>@Html.DisplayFor(model => model.ProcessExecutionTime)</dd>

        <dt>@Html.DisplayNameFor(model => model.AmountOfEmployees)</dt>
        <dd>@Html.DisplayFor(model => model.AmountOfEmployees)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProcessExecutionTimeHoursYearly)</dt>
        <dd>@Html.DisplayFor(model => model.ProcessExecutionTimeHoursYearly)</dd>

        <dt>@Html.DisplayNameFor(model => model.TimeOfExecution)</dt>
        <dd>@Html.DisplayFor(model => model.TimeOfExecution)</dd>

        <dt>@Html.DisplayNameFor(model => model.AmountOfCitizensOrCompaniesAffected)</dt>
        <dd>@Html.DisplayFor(model => model.AmountOfCitizensOrCompaniesAffected)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProfessionalAssesmentRating)</dt>
        <dd>@Html.DisplayFor(model => model.ProfessionalAssesmentRating)</dd>

        <dt>@Html.DisplayNameFor(model => model.FrequentChangesRating)</dt>
        <dd>@Html.DisplayFor(model => model.FrequentChangesRating)</dd>

        <dt>@Html.DisplayNameFor(model => model.StructuredDataRating)</dt>
        <dd>@Html.DisplayFor(model => model.StructuredDataRating)</dd>

        <dt>@Html.DisplayNameFor(model => model.VariationRating)</dt>
        <dd>@Html.DisplayFor(model => model.VariationRating)</dd>

        <dt>@Html.DisplayNameFor(model => model.IsDataAvailableInSystems)</dt>
        <dd>@Html.DisplayFor(model => model.IsDataAvailableInSystems)</dd>

        <dt>@Html.DisplayNameFor(model => model.AutomationWouldOptimizeTheProcess)</dt>
        <dd>@Html.DisplayFor(model => model.AutomationWouldOptimizeTheProcess)</dd>
    </dl>
</fieldset>

<fieldset class="form-fieldset">
    <legend>Andet</legend>
    <dl class="dl-horizontal custom-dl">
        <dt>@Html.DisplayNameFor(model => model.AdditionalInformation)</dt>
        <dd>@Html.DisplayFor(model => model.AdditionalInformation)</dd>

        <dt>Bilag</dt>
        <dd>
            @foreach (var attachment in Model.Attachment)
            {
                <a href="@Url.Action("DownloadAttachment", "Attachment", new {attachmentId = attachment.AttachmentId })">@attachment.FileName</a>
                <br />
            }
        </dd>
    </dl>
</fieldset>

@if (User.IsInRole(ConfigurationManager.AppSettings["AdminGroup"]))
{
    <fieldset class="form-fieldset">
        <legend>Nedenstående oplysninger udfyldes af projektgruppen</legend>
        <dl class="dl-horizontal custom-dl">
            <dt>@Html.DisplayNameFor(model => model.EstimatedPotential)</dt>
            <dd>@Html.DisplayFor(model => model.EstimatedPotential)</dd>

            <dt>@Html.DisplayNameFor(model => model.Experience)</dt>
            <dd>@Html.DisplayFor(model => model.Experience)</dd>
            
            <dt>@Html.DisplayNameFor(model => model.Status)</dt>
            <dd>@Html.DisplayFor(model => model.Status)</dd>

            <dt>@Html.DisplayNameFor(model => model.EstimatedStartDate)</dt>
            <dd>@Html.DisplayFor(model => model.EstimatedStartDate)</dd>

            <dt>@Html.DisplayNameFor(model => model.EstimatedEndDate)</dt>
            <dd>@Html.DisplayFor(model => model.EstimatedEndDate)</dd>

            <dt>@Html.DisplayNameFor(model => model.TypeOfSolution)</dt>
            <dd>@Html.DisplayFor(model => model.TypeOfSolution)</dd>

            <dt>@Html.DisplayNameFor(model => model.SolutionTechnologies)</dt>
            <dd>@Html.DisplayFor(model => model.SolutionTechnologies)</dd>

            <dt>@Html.DisplayNameFor(model => model.Risk)</dt>
            <dd>@Html.DisplayFor(model => model.Risk)</dd>

            <dt>@Html.DisplayNameFor(model => model.AdditionalInformationProjectGroup)</dt>
            <dd>@Html.DisplayFor(model => model.AdditionalInformationProjectGroup)</dd>
        </dl>
    </fieldset>
}

<div class="row">
    <div class="col-xs-6">
        @Html.ActionLink("Gå tilbage til overblik over processer", "Index")
    </div>
    <div class="col-xs-6">
        <div class="pull-right">
            @if (Model.ReporterEmployeeId == UserInfoHelpers.GetUserId() || Model.CreatedByEmployeeId == UserInfoHelpers.GetUserId() || User.IsInRole(ConfigurationManager.AppSettings["AdminGroup"]))
            {
                @Html.ActionLink("Rediger proces", "Edit", new { id = Model.ProcessId }, new { @class = "btn btn-default" })
            }
        </div>
    </div>
</div>
