﻿@using System.Configuration
@using DigitaleAssistenter.Classes
@using DigitaleAssistenter.Models
@using DigitaleAssistenter.ViewModels
@model DigitaleAssistenter.ViewModels.ProcessViewModel
@{
    ViewBag.Title = "Indberet proces";
}
@section header{
    <link href="~/Content/Styles/Libraries/selectize.bootstrap3.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProcessId)
        @Html.HiddenFor(model => model.CreatedByEmployeeId)

        <fieldset class="form-fieldset">
            <legend data-toggle="collapse" data-target="#description">Beskrivelse af proces</legend>
            <div id="description" class="collapse in">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Organizations, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownList("OrganizationsSelectize", (SelectList)ViewBag.Organizations, "", htmlAttributes: new { @class = "form-control", data_initial_value = Model.Organizations })
                        @Html.HiddenFor(model => model.Organizations)
                        @Html.ValidationMessageFor(model => model.Organizations, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContactEmployeeId, htmlAttributes: new { @class = "control-label col-md-3 required-field-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ContactEmployeeId, (SelectList)ViewBag.Employees, "Vælg kontaktperson", new { @class = "form-control selectize-autocomplete" })
                        @Html.ValidationMessageFor(model => model.ContactEmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.KLEId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.KLEId, (SelectList)ViewBag.KLE, "Vælg KLE-nummer", new { @class = "form-control selectize-autocomplete" })
                        @Html.ValidationMessageFor(model => model.KLEId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfidentialProcess, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <label>@Html.RadioButtonFor(model => model.ConfidentialProcess, "True") Ja</label>
                        <label>@Html.RadioButtonFor(model => model.ConfidentialProcess, "False") Nej</label>
                        @Html.ValidationMessageFor(model => model.ConfidentialProcess, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Resume, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Resume, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                        @Html.ValidationMessageFor(model => model.Resume, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Paragraph, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Paragraph, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Paragraph, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ReporterEmployeeId, htmlAttributes: new { @class = "control-label col-md-3 required-field-label" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.ReporterEmployeeId, (SelectList)ViewBag.Employees, "Vælg indberetter", new { @class = "form-control selectize-autocomplete" })
                        @Html.ValidationMessageFor(model => model.ReporterEmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.SolutionDescription, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.SolutionDescription, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                        @Html.ValidationMessageFor(model => model.SolutionDescription, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CurrentSystems, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.CurrentSystems, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CurrentSystems, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-fieldset">
            <legend data-toggle="collapse" data-target="#facts">Fakta om nuværende proces</legend>
            <div id="facts" class="collapse in">
                <div class="form-group">
                    @Html.LabelFor(model => model.AmountOfProcessExecutionsYearly, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AmountOfProcessExecutionsYearly, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AmountOfProcessExecutionsYearly, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProcessExecutionTime, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ProcessExecutionTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProcessExecutionTime, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AmountOfEmployees, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AmountOfEmployees, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AmountOfEmployees, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ProcessExecutionTimeHoursYearly, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.ProcessExecutionTimeHoursYearly, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ProcessExecutionTimeHoursYearly, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.TimeOfExecution, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.TimeOfExecution, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TimeOfExecution, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AmountOfCitizensOrCompaniesAffected, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AmountOfCitizensOrCompaniesAffected, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AmountOfCitizensOrCompaniesAffected, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.ProfessionalAssessmentRatingId, htmlAttributes: new { @class = "control-label" })
                        @Html.DescriptionFor(model => model.ProfessionalAssessmentRatingId)
                    </div>
                    <div class="col-md-9">
                        @foreach (var rating in (List<Rating>)ViewBag.Ratings)
                        {
                            <label>@Html.RadioButtonFor(model => model.ProfessionalAssessmentRatingId, rating.RatingId) @rating.Text</label>
                        }
                        <br />
                        @Html.ValidationMessageFor(model => model.ProfessionalAssessmentRatingId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.FrequentChangesRatingId, htmlAttributes: new { @class = "control-label" })
                        @Html.DescriptionFor(model => model.FrequentChangesRatingId)
                    </div>
                    <div class="col-md-9">
                        @foreach (var rating in (List<Rating>)ViewBag.Ratings)
                        {
                            <label>@Html.RadioButtonFor(model => model.FrequentChangesRatingId, rating.RatingId) @rating.Text</label>
                        }
                        <br />
                        @Html.ValidationMessageFor(model => model.FrequentChangesRatingId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.StructuredDataRatingId, htmlAttributes: new { @class = "control-label" })
                        @Html.DescriptionFor(model => model.StructuredDataRatingId)
                    </div>
                    <div class="col-md-9">
                        @foreach (var rating in (List<Rating>)ViewBag.Ratings)
                        {
                            <label>@Html.RadioButtonFor(model => model.StructuredDataRatingId, rating.RatingId) @rating.Text</label>
                        }
                        <br />
                        @Html.ValidationMessageFor(model => model.StructuredDataRatingId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.VariationRatingId, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @foreach (var rating in (List<Rating>)ViewBag.Ratings)
                        {
                            <label>@Html.RadioButtonFor(model => model.VariationRatingId, rating.RatingId) @rating.Text</label>
                        }
                        <br />
                        @Html.ValidationMessageFor(model => model.VariationRatingId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.IsDataAvailableInSystems, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <label>@Html.RadioButtonFor(model => model.IsDataAvailableInSystems, "Ja") Ja</label>
                        <label>@Html.RadioButtonFor(model => model.IsDataAvailableInSystems, "Delvist") Delvist</label>
                        <label>@Html.RadioButtonFor(model => model.IsDataAvailableInSystems, "Nej") Nej</label>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.AutomationWouldOptimizeTheProcess, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AutomationWouldOptimizeTheProcess, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AutomationWouldOptimizeTheProcess, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset class="form-fieldset">
            <legend data-toggle="collapse" data-target="#additional-info">Andet</legend>
            <div id="additional-info" class="collapse in">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.AdditionalInformation, htmlAttributes: new { @class = "control-label" })
                        @Html.DescriptionFor(model => model.AdditionalInformation)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.AdditionalInformation, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                        @Html.ValidationMessageFor(model => model.AdditionalInformation, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="attachments">
                    @Html.Partial("PartialViews/_Attachments", ViewBag.Attachments != null ? (List<AttachmentViewModel>)ViewBag.Attachments : new List<AttachmentViewModel>())
                </div>
            </div>
        </fieldset>

        @if (User.IsInRole(ConfigurationManager.AppSettings["AdminGroup"]))
        {
            <fieldset class="form-fieldset">
                <legend data-toggle="collapse" data-target="#project-group-info">Nedenstående oplysninger udfyldes af projektgruppen</legend>
                <div id="project-group-info" class="collapse in">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EstimatedPotential, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EstimatedPotential, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EstimatedPotential, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Experience, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Experience, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                            @Html.ValidationMessageFor(model => model.Experience, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @foreach (var status in (List<Status>)ViewBag.Status)
                            {
                                <label>@Html.RadioButtonFor(model => model.StatusId, status.StatusId) @status.Text</label>
                            }
                            <br />
                            @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EstimatedStartDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EstimatedStartDate, new { htmlAttributes = new { @class = "form-control bootstrap-datepicker" } })
                            @Html.ValidationMessageFor(model => model.EstimatedStartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.EstimatedEndDate, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EstimatedEndDate, new { htmlAttributes = new { @class = "form-control bootstrap-datepicker" } })
                            @Html.ValidationMessageFor(model => model.EstimatedEndDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeOfSolution, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.TypeOfSolution, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                            @Html.ValidationMessageFor(model => model.TypeOfSolution, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.SolutionTechnologies, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.SolutionTechnologies, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                            @Html.ValidationMessageFor(model => model.SolutionTechnologies, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Risk, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Risk, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                            @Html.ValidationMessageFor(model => model.Risk, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.AdditionalInformationProjectGroup, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.AdditionalInformationProjectGroup, new { htmlAttributes = new { @class = "form-control", rows = "5" } })
                            @Html.ValidationMessageFor(model => model.AdditionalInformationProjectGroup, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </fieldset>
        }

        <div class="form-group margin-top">
            <div class="col-md-6">
                @Html.ActionLink("Gå tilbage til overblik over processer", "Index")
            </div>
            <div class="col-md-6">
                <input type="submit" value="Gem ændringer" class="btn btn-default pull-right" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Scripts/Libraries/selectize.min.js"></script>
    <script src="~/Content/Scripts/Custom/selectize.js"></script>
    <script src="~/Content/Scripts/Custom/attachment.js"></script>
    <script type="text/javascript">
        $('[data-val-required]').each(function () {
            var $label = $('label[for=' + this.name + ']');
            $label.addClass("required-field-label");
        });
    </script>
}
