﻿@using System.Configuration
@using System.Text.RegularExpressions
@using DigitaleAssistenter.Classes
@model IEnumerable<DigitaleAssistenter.ViewModels.ProcessDisplayViewModel>
@{
    ViewBag.Title = "Overblik over processer";

    bool isAdmin = User.IsInRole(ConfigurationManager.AppSettings["AdminGroup"]);
    int userId = UserInfoHelpers.GetUserId();
}
@section header{
    <link href="~/Content/Styles/Libraries/datatables.min.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>

<table class="table table-responsive table-hover table-striped jquery-datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcessId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organizations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessExecutionTimeHoursYearly)
            </th>
            @if (isAdmin)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organizations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resume)
                </td>
                <td data-sort="@( !string.IsNullOrWhiteSpace(item.ProcessExecutionTimeHoursYearly) ? Regex.Match(item.ProcessExecutionTimeHoursYearly, @"\d+").Value : string.Empty )">
                    @Html.DisplayFor(modelItem => item.ProcessExecutionTimeHoursYearly)
                </td>
                @if (isAdmin)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                }
                <td>
                    @if (isAdmin || item.ConfidentialProcess == false || item.CreatedByEmployeeId == userId || item.ReporterEmployeeId == userId)
                    {
                        <a href="@Url.Action("Details", new { id = item.ProcessId })" class="btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span></a>
                    }

                    @if (isAdmin || item.CreatedByEmployeeId == userId || item.ReporterEmployeeId == userId)
                    {
                        <a href="@Url.Action("Edit", new { id = item.ProcessId })" class="btn-sm btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
                    }

                    @if (isAdmin)
                    {
                        <a href="@Url.Action("Delete", new { id = item.ProcessId })" class="btn-sm btn-default"><span class="glyphicon glyphicon-remove"></span></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script src="~/Content/Scripts/Libraries/datatables.min.js"></script>
    <script src="~/Content/Scripts/Custom/datatables.js"></script>
}