﻿@using DigitaleAssistenter.Classes
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitale assistenter -> @ViewBag.Title</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,700,400italic" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header", required: false)
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Digitale assistenter", "Index", "Process", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Process")">@Html.ActionLink("Overblik over processer", "Index", "Process")</li>
                    <li class="@Html.IsSelected(actions: "Create", controllers: "Process")">@Html.ActionLink("Indberet proces", "Create", "Process")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-xs-6">
                    &copy; @DateTime.Now.Year
                </div>
                <div class="col-xs-6">
                    <div class="pull-right">Du er logget ind som: @UserInfoHelpers.GetDisplayName()</div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @RenderSection("scripts", required: false)
</body>
</html>
